<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {

            background-image: url('https://images.unsplash.com/photo-1599707367072-cd6ada2bc375?q=80&w=1633&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-position: auto;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    
    <h1 style="color: #333; font-family: 'Arial', sans-serif; text-align: center; padding: 20px; background-color: #f0f0f0; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">This is my home page</h1>
    <p style="text-align: center;">
        <a href="http://127.0.0.1:5000/predict" target="_blank" style="color: blue; text-decoration: none; font-family: 'Arial', sans-serif; text-align: center; padding: 5px; background-color: #f0f0f0; border-radius: 100px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-size:x-small;">Click here to check the Diamond price</a>
    </p>

</body>
</html>